.a-boutton {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: vw(10px) vw(20px);
  border-radius: vw(30px);
  gap: vw(10px);

  @include device($mobileScreen){
    padding: 5px 10px;
  }

  &-menu{
    @include device($mobileScreen){
      font-size: 14px;
    }
  }

  background: var(--primary-light);
  border: 1px solid var(--primary-light); 
  color: #fff; 
  transition: background-color 0.3s ease-in-out;

  @extend .c-theme;
  @extend .headline;
  @extend .headline-xs;
  
  .c-theme--svg{
    svg, rect, path{
      fill: #fff;
    }
  }

  svg{
    height: vw(18px);

    @include device($mobileScreen){
      height: 10px;
    }
  }

  &.target_blank {
  }

  &:focus{
    background: var(--primary-light);
    border: 1px solid var(--primary-light); 
    color: #fff; 
  }

  &:hover {
    background: transparent;
    color: var(--primary-light) !important;
    .c-theme--svg{
      svg, rect, path{
        fill: var(--primary-light)
      }
    }
  }

  &--outline{
    background: transparent;
    border: 1px solid var(--primary-light); 
    color: var(--primary-light); 

    svg, rect, path{
      fill: var(--primary-light);
    }

    circle{
      stroke: var(--primary-light);
      fill: #fff;
    }

    &:hover {
      background: var(--primary-light);
      color: #fff !important;

      svg, rect, path{
        fill: #fff;
      }
      circle{
        stroke: #fff;
        fill: var(--primary-light);
      }
    }
  }

  &--small{
    @extend .body-xs;
    padding: vw(7px) vw(17px);

    @include device($mobileScreen){
      font-size: 8px;
    } 
  }

  &--white{
    @extend .c-theme--white;
    &:hover {
      @extend .c-theme--blue-dark;
    }
  }

  &--extraordinary{
    background: linear-gradient(90deg, rgba(238,24,68,1) 47%, rgba(243,110,33,1) 100%);
    border-color: #fff;
    &:hover{
      color: #fff !important;
    }
    &-red{
      @extend .c-theme--red;
      border-color: var(--primary-light);
      &:hover{
        color: var(--primary-light) !important;
      }
    }
  }


  &--default{
    @extend .c-theme--default;
  }

  &--vert{
    @extend .c-theme--vert;
  }

  &--blue-light{
    @extend .c-theme--blue-light;
  }

  &--blue{
    @extend .c-theme--blue;
  }

  &--blue-dark{
    @extend .c-theme--blue-dark;
  }

  &--red{
    @extend .c-theme--red;
  }
  
  &--orange{
    @extend .c-theme--orange;
    svg, rect, path{
      fill: #fff;
    }
    circle{
      stroke: #fff;
      fill: var(--primary-light);
    }
    &:hover{
      svg, rect, path{
        fill: var(--primary-light);
      }
      circle{
        stroke: var(--primary-light);
        fill: #fff
      }
    }

  }

  &--orange-white{
    @extend .c-theme--orange;
    border-color: #fff;
    &:hover{
      color: #fff !important;
    }
  }

  &--purple{
    @extend .c-theme--purple;
  }

  &--purple-dark{
    @extend .c-theme--purple-dark;
  }

  &--yammer{
    border: 1px solid var(--primary-light);
    background: #fff;
    color: var(--primary-light);

    &:hover{
      background: var(--primary-light);
      color: #fff !important;
    }
  }
}
