.m-service-thumb{
    width: vw(180px);
    height: 100%;
    display: flex;
    flex-direction: column;
    background: var(--color-light);
    border: 1px solid var(--primary-background);
    text-align: center;
    
    @include device($mobileScreen){
        width: 100px;
        height: auto;
    }

    img,.container-bottom{
        padding:vw(20px);
    }

    img{
        border-bottom: 1px solid var(--primary-background);
    }

    .container-bottom{
        display: flex;
        flex-direction: column;
        align-items: center;

        .body-sm{
            margin-bottom: vw(10px);
        }
        
        .a-boutton{
            border: 1px solid var(--primary);
            color: var(--primary);
        }
    }
}