.o-agenda{
    margin: vw(25px) 0;
    @include device($mobileScreen){
        margin: 5px;
    }
    h4{
        color: var(--primary);
    }
    &__filter{
        h1,h2,h3{
            color: var(--primary);
        }
        h2{
            margin-bottom: vw(10px);
        }
        h3{
            margin-bottom:vw(15px);
        }
        ul{
            display: flex;
            flex-direction: column;
            gap: vw(6px);

            li{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap:vw(8px);

                .js-filtre-item{
                    color: var(--primary);
                    font-weight: 400;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: vw(10px);

                    &__select{
                        width: vw(13px);
                        height: vw(13px);
                        border-radius: 50%;
                        border: 1px solid var(--primary);
                    }

                    &.active{
                        font-weight: 700;
                        .js-filtre-item__select{
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            &::after{
                                content:"";
                                width: vw(7px);
                                height: vw(7px);
                                border-radius: 50%;
                                background-color: var(--primary);
                            }
                        }
                    }

                }
            }
        }
    }
    &__thumbnails{
        gap: vw(10px);
    }
    
    &__replays{
        margin: vw(25px) 0;
        padding:  vw(40px) 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: vw(30px);
        background: var(--primary-background);
        color: var(--primary);

        &-more{
            background: var(--primary-light);
            color: var(--color-light);
            padding: vw(8px) vw(23px);
        }
    }
}